body {
    background-color: black;
}

h1 {
    color: red;
    background-color: lightslategrey;
    text-align: center;
    margin: 0 0 -20px 0;
    padding: 10px;
}

h2 {
    color: red;
    background-color: lightslategrey;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 10px;
}

form {
    width: 700px;
    margin: 0 auto;
}

li {
    background-color: mediumpurple;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
}

li:nth-child(2n) {
    background-color: purple;
}

li:hover {
    background-color: rebeccapurple;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

input:checked + label {
text-decoration: line-through;
}

footer {
    color: red;
    background-color: lightslategrey;
    text-align: center;
    font-size: 24px;
    margin: 40px auto;
    
}